@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,800;0,900;1,300;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.container {
    min-height: 100vh;
    /* background-color: #8b692f; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    max-width: 350px;
    width: 350px;
    margin: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(1, 1, 1, 0.5);
    /* padding: .5rem; */
}

.card_image {
    max-height: 200px;
    overflow: hidden;
}

.card_image img {
    width: 100%;
    height: auto;
    visibility: hidden;
}

.card_info {
    position: relative;
    color: #222;
    padding: 20px;
}

.card_title span {
    visibility: hidden;
}

.card_description span {
    visibility: hidden;
}

.media_icons a i {
    visibility: hidden;
}

.card_info h3 {
    font-size: 1.4em;
    font-weight: 700;
    /* background: #683838; */
    margin-bottom: 15px;
}

.card_info p{
    font-size: 1em;
    margin-bottom: 15px;
    /* background: #d9a5a5; */
}

.card_info .media_icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.card_info .media_icons a {
    color: #222;
    font-size: 1.5rem;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .5s ease;
}

.card_info .media_icons a:hover {
    color: #cecece;
}

 .loading {
    position: relative;
    background: #e2e2e2;
    overflow: hidden;
}

.loading::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
    transform: translateX(-100%);
    animation: loading 1.5s infinite ease;
} 

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}